:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Fira Code', monospace;

  /* cores personalizadas */
  --primary: #16213E;
  --secondary: #0F3460;
  --terceary: #533483;
  --red: #E94560;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  /* barra de rolagem */
  background: var(--primary);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  /* guia da barra de rolagem */
  background-color: var(--red);
  border-radius: 20px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}